// FONTS
$main-font-family: 'Montserrat', 'Arial', sans-serif;

//FONT COLORS
$first-font-color: #030303;
$second-font-color: #ffffff;
$third-font-color: rgb(121, 121, 121);
$fourth-font-color: #9b9b9b;

//  COLORS
$main-color: #ffffff;
$header-bg-color: rgb(58, 57, 57);
$second-background-color: #f3f3f3;
$third-color: #51c946;
$color-stats: rgba(196, 62, 62, 0.466);

//media
$mobile-bp-max: 767px;
$mobile-w-min: 310px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1210px;
$desktop-bp-max: 1679px;
$ladge-desktop-bp-min: 1680px;
$ladge-desktop-w: 1342px;
